In [1]:
import sys 
import pandas as pd
import numpy as np
import re
import datetime
import seaborn as sns # makes the plots look nicer
import matplotlib.pyplot as plt # allows you to plot data  
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from networkx.drawing.nx_agraph import graphviz_layout
from pylab import rcParams
import matplotlib as mpl
import heapq
from functools import partial
from difflib import SequenceMatcher
import pandasql as ps
import matplotlib.pyplot as plt
import hashlib
import time
import random
import names

In [2]:
!pip install names random_word

Requirement already satisfied: names in c:\programdata\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: random_word in c:\programdata\anaconda3\lib\site-packages (1.0.7)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from random_word) (2.26.0)
Requirement already satisfied: nose in c:\programdata\anaconda3\lib\site-packages (from random_word) (1.3.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->random_word) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->random_word) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->random_word) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->random_word) (2021.10.8)

In [3]:
from random_word import RandomWords
r = RandomWords()

In [4]:
hash = hashlib.sha1()

In [5]:
hash.update(str(time.time()).encode('utf-8'))
hash.hexdigest()[:10]

'bc1d25ffaa'

In [6]:
Users = pd.DataFrame()
Teams = pd.DataFrame()
Metrics = pd.DataFrame()

In [7]:
Users['UserID'] = None
Users['UserEmail'] = None
Users['TeamID'] = None
Users['Name'] = None
Users['IsActive'] = None
Users['DateRegister'] = None

In [8]:
Teams['TeamID'] = None
Teams['TeamName'] = None
Teams['TeamManager'] = None
Teams['TeamPriority'] = None

In [9]:
Metrics['UserId'] = None
Metrics['DateMetric'] = None
Metrics['Mails'] = None
Metrics['Hits'] = None
Metrics['SMS'] = None
Metrics['PhoneCalls'] = None

In [10]:
Users

Empty DataFrame
Columns: [UserID, UserEmail, TeamID, Name, IsActive, DateRegister]
Index: []

In [11]:
Teams

Empty DataFrame
Columns: [TeamID, TeamName, TeamManager, TeamPriority]
Index: []

In [12]:
Metrics

Empty DataFrame
Columns: [UserId, DateMetric, Mails, Hits, SMS, PhoneCalls]
Index: []

In [13]:
start_date = datetime.date(2010, 1, 1)
end_date = datetime.date(2020, 2, 1)
for i in range(5000):
    hash.update(str(time.time()).encode('utf-8'))
    hash.hexdigest()[:10]
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    new_row = {'UserID':hash.hexdigest()[:10], 'UserEmail':str(hash.hexdigest()[:10]) + "@mail.com", 'TeamID':random.randint(1, 20), 'Name':names.get_full_name(), 'IsActive':random.randint(0, 1), 'DateRegister':random_date}
    #append row to the dataframe
    Users = Users.append(new_row, ignore_index=True)
Users

,UserID,UserEmail,TeamID,Name,IsActive,DateRegister
0,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31
1,844525af93,844525af93@mail.com,10,Dinorah Lindsay,1,2012-05-08
2,e898b47b51,e898b47b51@mail.com,1,Billy Reid,0,2010-01-28
3,e55a5ed02d,e55a5ed02d@mail.com,7,Virginia Fisher,0,2012-09-15
4,f75542e2f8,f75542e2f8@mail.com,10,Debra Cochran,1,2011-05-03
...,...,...,...,...,...,...
4995,2afb4c39f2,2afb4c39f2@mail.com,18,James Moss,0,2017-08-14
4996,42132cd486,42132cd486@mail.com,3,Antonia Tankersley,0,2017-07-31
4997,51ab20581e,51ab20581e@mail.com,4,Bruce Pierson,1,2018-04-22
4998,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11
4999,22dd776f25,22dd776f25@mail.com,12,Charles Byrd,0,2015-01-24

In [14]:
for i in range(19):
    new_row = {'TeamID':i+1, 'TeamName':str(r.get_random_word()), 'TeamManager':names.get_full_name(), 'TeamPriority':random.randint(1, 5)}
    #append row to the dataframe
    Teams = Teams.append(new_row, ignore_index=True)
Teams

   TeamID       TeamName       TeamManager TeamPriority
0       1           None     Camellia Reed            5
1       2           None  Victoria Manning            2
2       3   unlicentious         Mark Todd            5
3       4     complexion    Nancy Schuller            1
4       5     whizziness       Robin Horan            5
5       6         arbute    Norman Mcenany            1
6       7  Simon Zelotes      Clara Lawson            3
7       8       sauterne    Mildred Turner            1
8       9    cercocarpus   Liana Shoemaker            2
9      10      flemingia       Annie Perez            3
10     11    cotton-teal     Bryan Delgado            5
11     12    counterless       Brian Young            1
12     13   oligodactyly  Phillip Banderas            1
13     14        malabar  Glenn Montgomery            1
14     15       paduasoy    Dorothy Delrio            1
15     16     cogitative    Mario Martinez            1
16     17   steatopygous       Robert Page            4
17     18        barbero     Theron Radish            4
18     19       flanking     Renee Facteau            5

In [16]:
end_date = datetime.date(2020, 2, 1)
for i in range(100000):
    sample = Users.sample()
    start_date = sample['DateRegister'].iloc[0]
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    new_row = {'UserId':sample['UserID'].iloc[0], 'DateMetric':random_date, 'Mails':random.randint(0, 60), 'Hits':random.randint(0, 50), 'SMS':random.randint(0, 35), 'PhoneCalls':random.randint(0, 20)}
    #append row to the dataframe
    Metrics = Metrics.append(new_row, ignore_index=True)
Metrics

           UserId  DateMetric Mails Hits SMS PhoneCalls
0      de20cf2a7a  2018-01-02    21   37  23         14
1      030f56a70e  2019-05-06    16   17  18          9
2      e7c09096d3  2019-01-05    41   44  34         15
3      32da84686c  2019-10-01    32   38  16          4
4      4c56521cef  2016-09-03    54    8  22          1
...           ...         ...   ...  ...  ..        ...
99995  949eb2a242  2019-07-17    35   44  11          6
99996  4e7d46ba18  2016-02-22    49   20  30         13
99997  95733febdf  2019-11-10    39   37   6          8
99998  4f2c60ee36  2019-01-01     3   24  31          5
99999  a518dcc820  2015-01-12    14   48  26          6

[100000 rows x 6 columns]

In [22]:
Metrics['DateMetric'] =  Metrics['DateMetric'].astype(str)
Users['DateRegister'] =  Users['DateRegister'].astype(str)
Metrics.to_parquet('Metrics.parquet', engine='fastparquet')
Teams.to_parquet('Teams.parquet', engine='fastparquet')
Users.to_parquet('Users.parquet', engine='fastparquet')

In [23]:
u = pd.read_parquet('Users.parquet', engine='fastparquet')
u

,UserID,UserEmail,TeamID,Name,IsActive,DateRegister,DateMetric
0,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31,2011-08-31
1,844525af93,844525af93@mail.com,10,Dinorah Lindsay,1,2012-05-08,2012-05-08
2,e898b47b51,e898b47b51@mail.com,1,Billy Reid,0,2010-01-28,2010-01-28
3,e55a5ed02d,e55a5ed02d@mail.com,7,Virginia Fisher,0,2012-09-15,2012-09-15
4,f75542e2f8,f75542e2f8@mail.com,10,Debra Cochran,1,2011-05-03,2011-05-03
...,...,...,...,...,...,...,...
4995,2afb4c39f2,2afb4c39f2@mail.com,18,James Moss,0,2017-08-14,2017-08-14
4996,42132cd486,42132cd486@mail.com,3,Antonia Tankersley,0,2017-07-31,2017-07-31
4997,51ab20581e,51ab20581e@mail.com,4,Bruce Pierson,1,2018-04-22,2018-04-22
4998,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11,2012-08-11
4999,22dd776f25,22dd776f25@mail.com,12,Charles Byrd,0,2015-01-24,2015-01-24

In [24]:
t = pd.read_parquet('Teams.parquet', engine='fastparquet')
t

    TeamID       TeamName       TeamManager  TeamPriority
0        1           None     Camellia Reed             5
1        2           None  Victoria Manning             2
2        3   unlicentious         Mark Todd             5
3        4     complexion    Nancy Schuller             1
4        5     whizziness       Robin Horan             5
5        6         arbute    Norman Mcenany             1
6        7  Simon Zelotes      Clara Lawson             3
7        8       sauterne    Mildred Turner             1
8        9    cercocarpus   Liana Shoemaker             2
9       10      flemingia       Annie Perez             3
10      11    cotton-teal     Bryan Delgado             5
11      12    counterless       Brian Young             1
12      13   oligodactyly  Phillip Banderas             1
13      14        malabar  Glenn Montgomery             1
14      15       paduasoy    Dorothy Delrio             1
15      16     cogitative    Mario Martinez             1
16      17   steatopygous       Robert Page             4
17      18        barbero     Theron Radish             4
18      19       flanking     Renee Facteau             5

In [25]:
m = pd.read_parquet('Metrics.parquet', engine='fastparquet')
m

           UserId  DateMetric  Mails  Hits  SMS  PhoneCalls
0      de20cf2a7a  2018-01-02     21    37   23          14
1      030f56a70e  2019-05-06     16    17   18           9
2      e7c09096d3  2019-01-05     41    44   34          15
3      32da84686c  2019-10-01     32    38   16           4
4      4c56521cef  2016-09-03     54     8   22           1
...           ...         ...    ...   ...  ...         ...
99995  949eb2a242  2019-07-17     35    44   11           6
99996  4e7d46ba18  2016-02-22     49    20   30          13
99997  95733febdf  2019-11-10     39    37    6           8
99998  4f2c60ee36  2019-01-01      3    24   31           5
99999  a518dcc820  2015-01-12     14    48   26           6

[100000 rows x 6 columns]